<div class="m-license">
  {%- assign locale = site.data.locale -%}
  <div class="clearfix">
    {%- if site.repository and site.repository_tree -%}
      {%- assign __path = '/assets/images/octocat.jpg' -%}
      {%- include snippets/prepend-baseurl.html -%}
      <a href="http://paypal.me/xuehongyan/1usd">用Paypal资瓷我一下？</a>
	  <script type="text/javascript">
(/*
 * @Description: 分享插件
 */
;
(function($, window, document, undefined) {
    //插件初始化
    function init(target, options) {
        var settings = $.extend({}, $.fn.socialShare.defaults, options);
        //初始化各个组件
        console.log(settings);
        var $msb_main = "<a class='msb_main'><img title='分享' src='images/share_core_square.jpg'></a>";
        var $social_group = "<div class='social_group'>" +
            "<a class='msb_network_button weixin'>weixin</a>" +
            "<a class='msb_network_button sina'>sina</a>" +
            "<a class='msb_network_button tQQ'>tQQ</a>" +
            "<a class='msb_network_button qZone'>qZone</a>" +
            "<a class='msb_network_button douban'>douban</a>" +
            "</div>";
        $(target).append($msb_main);
        $(target).append($social_group);
        $(target).addClass("socialShare");

        //添加腾讯微博分享事件
        $(document).on("click", ".msb_network_button.tQQ", function() {
            tQQ(this, settings);
        });
        //添加QQ空间分享事件
        $(document).on("click", ".msb_network_button.qZone", function() {
            qZone(this, settings);
        });
        //添加新浪微博分享事件
        $(document).on("click", ".msb_network_button.sina", function() {
            sinaWeibo(this, settings);
        });
        //添加豆瓣分享事件
        $(document).on("click", ".msb_network_button.douban", function() {
            doubanShare(this, settings);
        });
        //添加微信分享事件
        $(document).on("click", ".msb_network_button.weixin", function() {
            weixinShare(this, settings);
        });
        $(document).on("click", ".msb_main", function() {
            if($(this).hasClass("disabled")) return;
            var e = 500; //动画时间
            var t = 250; //延迟时间
            var r = $(this).parent().find(".msb_network_button").length; //分享组件的个数
            var i = 60;
            var s = e + (r - 1) * t;
            var o = 1;
            var a = $(this).outerWidth();
            var f = $(this).outerHeight();
            var c = $(this).parent().find(".msb_network_button:eq(0)").outerWidth();
            var h = $(this).parent().find(".msb_network_button:eq(0)").outerHeight();
            var p = (a - c) / 2; //起始位置
            var d = (f - h) / 2; //起始位置
            var v = 0 / 180 * Math.PI;
            if(!$(this).hasClass("active")) {
                $(this).addClass("disabled").delay(s).queue(function(e) {
                    $(this).removeClass("disabled").addClass("active");
                    e()
                });
                $(this).parent().find(".msb_network_button").each(function() {
                    var n = p + (p + i * o) * Math.cos(v)*0.8; //结束位置
                    var r = d + (d + i * o) * Math.sin(v); //结束位置
                    $(this).css({
                        display: "block",
                        left: p + "px",
                        top: d + "px"
                    }).stop().delay(t * o).animate({
                        left: n + "px",
                        top: r + "px"
                    }, e);
                    o++
                })
            } else {
                o = r;
                $(this).addClass("disabled").delay(s).queue(function(e) {
                    $(this).removeClass("disabled").removeClass("active");
                    e()
                });
                $(this).parent().find(".msb_network_button").each(function() {
                    $(this).stop().delay(t * o).animate({
                        left: p,
                        top: d
                    }, e);
                    o--
                })
            }
        });

    }

    function replaceAPI(api, options) {
        api = api.replace('{url}', options.url);
        api = api.replace('{title}', options.title);
        api = api.replace('{content}', options.content);
        api = api.replace('{pic}', options.pic);
        return api;
    }

    function OPenWindow(URL) {
        var openUrl = URL; //弹出窗口的url
        var iWidth = 630; //弹出窗口的宽度;
        var iHeight = 580; //弹出窗口的高度;
        var iTop = (window.screen.availHeight - 30 - iHeight) / 2; //获得窗口的垂直位置;
        var iLeft = (window.screen.availWidth - 10 - iWidth) / 2; //获得窗口的水平位置;
        window.open(openUrl, "", "height=" + iHeight + ", width=" + iWidth + ", top=" + iTop + ", left=" + iLeft + "" + ",toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
        //window.open('page.html', 'newwindow', 'height=580, width=650, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
    }

    function tQQ(target, options) {
        var options = $.extend({}, $.fn.socialShare.defaults, options);
        OPenWindow(replaceAPI(tqq, options));
        //      window.open(replaceAPI(tqq, options));
    }

    function qZone(target, options) {
        var options = $.extend({}, $.fn.socialShare.defaults, options);
        OPenWindow(replaceAPI(qzone, options));
        //  window.open(replaceAPI(qzone, options));
    }

    function sinaWeibo(target, options) {
        var options = $.extend({}, $.fn.socialShare.defaults, options);
        OPenWindow(replaceAPI(sina, options));
        //  window.open(replaceAPI(sina, options));
    }

    function doubanShare(target, options) {
        var options = $.extend({}, $.fn.socialShare.defaults, options);
        OPenWindow(replaceAPI(douban, options));
        //  window.open(replaceAPI(douban, ));
    }

    function weixinShare(target, options) {
        var options = $.extend({}, $.fn.socialShare.defaults, options);
        console.log(options);
        showWX(replaceAPI(weixin, options));

        //  window.open(replaceAPI(weixin, ));
    }

    function autocenter() {
        var bodyW = parseInt(document.documentElement.clientWidth);
        var bodyH = parseInt(document.documentElement.clientHeight);
        var elW = $("#weixin").width();
        var elH = $("#weixin").height();
        console.log((bodyW - elW) / 2);
        $("#weixin").css("left", (bodyW - elW) / 2);
        $("#weixin").css("top", (bodyH - elH) / 2);
    }

    function showWX(url) {
        var weixing = '<div id="weixin">' +
            '<div class="bd_weixin_popup_head">' +
            '<span>分享到微信朋友圈</span>' +
            '<a href="#" id="close" class="bd_weixin_popup_close">×</a>' +
            '</div>' +
            '<div class="erweima">' +
            '<img class="erweimas" src="" />' +
            '</div>' +
            '<p class="msgs">打开微信，点击右上角的  + ，<br/> 使用“扫一扫”即可将网页分享至朋友圈。</p>' +
            '</div>';
        $("body").append(weixing);
        $(".erweimas").attr('src', url);
        autocenter();
        $("#weixin").show();
    }
    $(document).on('click', "#close", function() {
        $("#weixin").hide();
    });
    $.fn.socialShare = function(options, param) {
        if(typeof options == 'string') {
            var method = $.fn.socialShare.methods[options];
            if(method)
                return method(this, param);
        } else
            init(this, options);
    }

    //插件默认参数
    $.fn.socialShare.defaults = {
        url: window.location.href,
        title: document.title,
        content: '',
        pic: ''
    }

    //插件方法
    $.fn.socialShare.methods = {
        //初始化方法
        init: function(jq, options) {
            return jq.each(function() {
                init(this, options);
            });
        },
        tQQ: function(jq, options) {
            return jq.each(function() {
                tQQ(this, options);
            })
        },
        qZone: function(jq, options) {
            return jq.each(function() {
                qZone(this, options);
            })
        },
        sinaWeibo: function(jq, options) {
            return jq.each(function() {
                sinaWeibo(this, options);
            });
        },
        doubanShare: function(jq, options) {
            return jq.each(function() {
                doubanShare(this, options);
            });
        },
        weixinShare: function(jq, options) {
            return jq.each(function() {
                weixinShare(this, options);
            });
        }
    }

    //分享地址
    var qzone = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={url}&title={title}&pics={pic}&summary={content}';
    var sina = 'http://service.weibo.com/share/share.php?url={url}&title={title}&pic={pic}&searchPic=false';
    var tqq = 'http://share.v.t.qq.com/index.php?c=share&a=index&url={url}&title={title}&appkey=801cf76d3cfc44ada52ec13114e84a96';
    var douban = 'http://www.douban.com/share/service?href={url}&name={title}&text={content}&image={pic}';
    var weixin = 'http://qr.liantu.com/api.php?text={url}'; //接受URL返回图片

})(jQuery, window, document);
</script>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
<script type="text/javascript">
(function(){
var p = {
url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
title:'', /*分享标题(可选)*/
summary:'', /*分享摘要(可选)*/
pics:'', /*分享图片(可选)*/
flash: '', /*视频地址(可选)*/
site:'', /*分享来源(可选) 如：QQ分享*/
style:'203',
width:16,
height:16
};
var s = [];
for(var i in p){
s.push(i + '=' + encodeURIComponent(p[i]||''));
}
document.write(['<a class="qcShareQQDiv" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank">分享到QQ？</a>'].join(''));
})();
</script>
<script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>
      {%- assign __locale = locale.POST_ON_GITHUB -%}
      {%- include snippets/locale-to-string.html -%}
      <p><a href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">{{ __return }}</a></p>
    {%- endif -%}
    {%- assign __locale = locale.LICENSE_ANNOUNCE -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return | replace: "[LICENSE]", '<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0</a>' }}</p>
    {%- assign __path = '/assets/images/vx10.png' -%}
    {%- include snippets/prepend-baseurl.html -%}
    {%- assign __locale = locale.LICENSE_INTRO -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return }}</p>
  </div>
</div>
