<div class="m-license">
  {%- assign locale = site.data.locale -%}
  <div class="clearfix">
    {%- if site.repository and site.repository_tree -%}
      {%- assign __path = '/assets/images/octocat.jpg' -%}
      {%- include snippets/prepend-baseurl.html -%}
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="T5PV2BAXFXR98">
      <table>
      <tr><td><input type="hidden" name="on0" value="资瓷">资瓷</td></tr><tr><td><select name="os0">
	      <option value="资瓷我一下">资瓷我一下 $ 1.00 USD</option>
	      <option value="资瓷我两下">资瓷我两下 $ 2.00 USD</option>
	      <option value="资瓷我三下">资瓷我三下 $ 3.00 USD</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/zh_XC/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal——最安全便捷的在线支付方式！">
      <img alt="" border="0" src="https://www.paypalobjects.com/zh_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
      {%- assign __locale = locale.POST_ON_GITHUB -%}
      {%- include snippets/locale-to-string.html -%}
      <p><a href="https://github.com/{{ site.repository }}/tree/{{ site.repository_tree }}/{{ page.path }}">{{ __return }}</a></p>
    {%- endif -%}
    {%- assign __locale = locale.LICENSE_ANNOUNCE -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return | replace: "[LICENSE]", '<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0</a>' }}</p>
    {%- assign __path = '/assets/images/license-cc4.png' -%}
    {%- include snippets/prepend-baseurl.html -%}
    {%- assign __locale = locale.LICENSE_INTRO -%}
    {%- include snippets/locale-to-string.html -%}
    <p>{{ __return }}</p>
  </div>
</div>